.index{
  font-size: 26px;
}
.item{
  width: 700px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
}
.title{
  margin-right: 5px;
}
.text{
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 5px;
}
.check-img{
  font-size: 26px;
  padding: 5px 10px;
  line-height: 2;
  margin: 0 0 5px 5px;
  color: #fff;
  background-color: #a0d911;
}
.btn-color{
  background-color: #f5222d;
}
