.big_tu{
    width: 100%;
    margin-bottom: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.big_tu image{
    background: lightblue;
    /* margin-top: -10rpx; */
    aligvertican:top;
}