
.product_one {
    width: 100%;
    padding-bottom: 30px;
    position: relative;

}

.product_one_title {
    width: 100%;
    height: 150px;
    line-height: 120px;
    font-size: 40px;
    text-indent: 200px;

}

.product_one_title_1 {
    background: #e9463d;
    color: #ffffff;
}

.product_one_title_left {
    position: absolute;
    left: 20px;
    top: 0px;
    width: 140px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    text-indent: 0;
    height: 120px;
}

.product_one_title_left_1 {
    color: #e9463d;
    background: #ffc324;
}

.product_one_title_left_1 .product_title_left_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 30px solid #e9463d;
}

.product_one_title_2 {
    background: #1ec754;
    color: #ffffff;
}

.product_one_title_left_2 {
    color: #1ec754;
    background: #333333;
}

.product_one_title_left_2 .product_title_left_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 30px solid #1ec754;
}

.product_one_title_3 {
    background: #6b52c7;
    color: #ffffff;
}

.product_one_title_left_3 {
    color: #6b52c7;
    background: #ffc324;
}

.product_one_title_left_3 .product_title_left_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 30px solid #6b52c7;
}

.product_info {
    width: 90%;
    margin: 20px auto;
    color: #333333;
}

.product_info_title {
    font-size: 35px;
    font-weight: 600;
    line-height: 2em;
}

.product_info_title_2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5em;
    color: #666666;
    padding-top: 20px;
}

.product_info_title_2 text {

    color: #437FF3;

}

.reg_button {
    width: 100%;
    height: 100px;
}

.reg_button .reg_button_view {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: #e9463d;
    text-align: center;
    line-height: 3em;
    font-size: 35px;
    color: #ffffff;
}