page {
  height: 100%;
}
.agreement {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.agreement text {
  font-size: 28px;
  color: #333;
}

.agreement .header {
  font-size: 34px;
  font-weight: 700;
}