/* pages/register/agent.wxss */
page{
    background: #f1f1f1;
}
.agent_title{
    text-indent: 35px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    line-height: 3em;
    background: #ffffff;
    border-bottom: 2px solid #eeeeee;
    color: #333333;
}
.agent_tab{
    width: 100%;
    margin-top:20px;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    background: #ffffff;
}
.agent_tab_title{
    text-indent: 35px;
    font-size: 30px;
    color: #333333;
    border-bottom: 2px solid #eeeeee;
    line-height: 2.5em;
    font-weight: 600;
}
.agent_tab_one{
    border-bottom: 2px solid #eeeeee;
    font-size: 30px;
    line-height: 2.5em;
    color: #444444;

}
.agent_tab_one_left{
    float: left;
    padding-left: 35px;
    width: 225px;
}
.agent_tab_one_right{
    float: right;
    width: 450px;
    padding-right: 35px;
    text-align: right;
    height:75px;
    font-size: 25px;
    position: relative;
}
 .agent_tab_one_right input{
     width: 100%;
     height: 100%;
     font-size: 25px;
 }
 .submit_button{
     width: 80%;
     height: 2em;
     line-height: 2em;
     font-size: 35px;
     background: #437FF3;
     color: #ffffff;
     margin: 30px auto;

 }


 .send_code_mask{
     width: 100%;
     height: 100vh;
     position: fixed;
     left: 0;
     top: 0;
     background: #000000;
     opacity: 0.6;
     z-index: 8;
 }
 .send_code{
     position: fixed;
     width: 70%;
     left: 15%;
     top: 40%;
     background: #f1f1f1;
     min-height: 100px;
     z-index: 10;
 }
 .send_code_title{
     width: 100%;
     line-height: 2.5em;
     background: linear-gradient(#ffffff, #dddddd);
     color: #666666;
     font-size: 30px;
     text-indent: 2em;
 }
 .send_code_body{
     width: 90%;
     margin: auto;
     font-size: 28px;
     padding: 20px 0;

 }
 .send_code_body input{
     width: 100%;
     height: 3em;
 }
 .send_code_footer button{
     width: 50%;
     float: left;
     font-size: 28px;
     background: linear-gradient(#ffffff, #dddddd);
     color: #333333;
 }
