.container {

  .tip {
    padding: 10px 30px;

    text {
      font-size: 24rpx;
      line-height: 40rpx;
      color: #f5222d;
      margin-right: 20px;
    }
  }

  .submit_btn {
    padding-top: 20rpx;
    padding-bottom: 40rpx;
  }
}

.at-button {
  width: 80%;
}