.nav_back {
    width: 500px;
    text-align: center;
    background-color: #3091F2;
    color: #ffffff;
    margin: 70px auto;
    margin-top: 150px;
    line-height: 2em;
    border-radius: 10px;
    font-size: 35px;
}

page {
    color: #666666;
}

.copy_div {
    width: 680px;
    border: 2px solid #dddddd;
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
}

.copy_div_one {
    width: 570px;
    float: left;
}

.copy_div_right {
    width: 100px;
    float: right;
    text-align: center;
}