
.tpl_list {
    width: 95%;
    margin: auto;
    padding-bottom: 100px; }

.tpl_list_one {
    width: 355px;
    float: left;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #666666; }

.tpl_list_one image {
    width: 300px;
    margin: auto;
    height: 520px; }

.submit {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.5em;
    font-size: 35px;
    text-align: center;
    line-height: 2.5em;
    -webkit-box-shadow: 0 0 10px #dddddd;
    box-shadow: 0 0 10px #dddddd; }
