.item{
  border: 1px solid #aaa;
  padding: 10px;
  margin: 20px 10px;
}
.img-out{
  border: 1px solid #aaa;
  background-color: #ccc;
  margin-right: 20px;
  position: relative;
  .img{
    width: 150px;
    height: 150px;
  }
  .check-img{
    width: 150px;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
}
.input{
  height: 40px;
  line-height: 40px;
  //background-color: red;
}
